/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* .clear { */
  /* clear: both; */
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  
  width: 960px;
  margin: auto;
  background-color: #f0efef;
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */

header {background color: #f0efef
  yellow: #f9e42e
  dark blue: #033048
  light grey: #606161
  almost black: #121212
  
  Font: Open Sans (Google Font: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)
  Weight: Light, Light Italic, Semibold, Extrabold
  
  Nav: Semibold, 24px
  
  Main column width: 700px
  Sidebar width: 240px
  Gutter: 20px
  
  Post Titles - 40px, semibold
  "How I implemented Relaxr in 2 weeks and changed my life."
  "I traveled across the globe thanks to Relaxr’s Excel automation"
  
  Body text - Light 24px
  Read More - 24px semibold
  
  Sidebar headers - 32px, extra bold
  Categories list - 24px, light
  "Success stories
  Stats
  How tos
  Best of
  Business tips"
  
  About text - 22px light
  Proin sed justo vel sapien varius auctor. Proin scelerisque massa at luctus tincidunt. Fusce porttitor, sapien sed tincidunt fringilla.
  Learn More - Semibold, 22
  

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header {
  background-color: #033048;
}
header>ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 30px;
  padding-left: 50px
}

header>ul>li {
  
  flex-grow: 1;
  font-size: 16px;
  color: #f9e42e;
  font-size: 20px;
  
}
.container-1 {
  color: yellow;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  flex-basis: auto;
 
}
  nav {
  flex-direction: row;
  }
h1 {
  font-size: 40px;
  color: white;
 font-weight: 700;
  flex-grow: 5; 
}

h2 {
  font-size: 40px;
  font-display: semibold;
}
.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}

h3 {
  font-size: 22px;
  font-display: semibold;
}

h4 {
  font-size: 22px;
  font-display: semibold;
}
h5 {
  font-size: 40px;
  font-display: semibold;
}

.implementation {
  background-color: #f0efef;
  color: #000;
  width: 960px;
  margin: auto;
  justify-content: flex-start;
  flex-direction: row;
}


button {
  border: none;
  background-color: #f0efef;
}


