h1 {
    color:red;
}

.turquoise-text {
    color: turquoise;
}

#yellow-text {
    color:yellow;
}

.background-goldenrod {
background-color: goldenrod;
}

.background-goldenrod p {
    color:green;
}

p{
    background-color: black;
    color:white;
}

ul li {
    color: purple;
}

.test-class-2>p{
    color: brown
}

