div, 
header, 
footer {
    background-color:lightgray;
    border:1px solid black;
    margin-bottom:8px;

}
footer {
    height:200px;
    clear:both;
}

header {
    height:200px;
}

div {
    height:200px;
    float:left;
}
.left {
    width:70%;
}
.center{
    height: 200px;
    
}
.right {
    margin-left:16px;
    width:25%;
}
